@import "./reset.css";

@font-face {
    font-family: Disket-Mono-Regular;
    src: url(../fonts/Disket-Mono-Regular.ttf)
}
@font-face {
    font-family: Disket-Mono-Bold;
    src: url(../fonts/Disket-Mono-Bold.ttf);
}
@font-face {
    font-family: Museo-Sans-Cyrl;
    src: url(../fonts/museosanscyrl-500.ttf);
}
body {
    background: #0E0D0D;
    color: #E1E0DF;
    overflow-x: hidden;
}
body.lock {
    overflow: hidden;
}
.container {
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 15px;
}

/*-------- header ---------*/

.header__top {
    background: #0E0D0D;
    position: sticky;
    top: 0;
    padding-top: 13px;
    z-index: 2;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link {
    font-family: Disket-Mono-Regular, sans-serif;
    color: #E1E0DF;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    position: relative;
    cursor: url("../img/cursor.png") 4 1, default;
}
.nav__link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    background: none repeat scroll 0 0 transparent;
    height: 2px;
    width: 0;
    background: #E1E0DF;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav__link:hover::after {
    width: 100%;
    left: 0;
}
.header__title-main {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
}
.header__P-menu {
    display: flex;
    flex-direction: column;
    row-gap: 234px;
}
.menu {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    width: 279px;
    text-decoration: underline;
}
#menu-link-first {
    max-width: 210px;
}
#menu-link-second {
    max-width: 279px;
}
.menu__link {
    color: #E1E0DF;
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 20px;
    transition: all .5s;
    cursor: url("../img/cursor.png") 4 1, default;
}
.menu__link:hover {
    text-decoration: underline;
    color: #956F29;
}
.header__info-img {
    display: flex;
    flex-direction: column;
}
.header-info-1 {
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-size: 17px;
    max-width: 280px;
    font-weight: 400;
    line-height: 20px;
}
.header-info-2 {
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-size: 15px;
    max-width: 292px;
    text-align: right;
    font-weight: 400;
    line-height: 20px;
}
.header__P-img {
    max-width: 248px;
}
.header__D-info {
    display: flex;
    flex-direction: column;
    row-gap: 258px;
}
.header__footer-title {
    padding-top: 44px;
}
.menu__logo {
    display: none;
}
.menu__icon {
    display: none;
    width: 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    cursor: pointer;
    border-radius: 2px;
}
.menu-span {
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #E1E0DF;
    transition: all 0.2s;
}
.menu-span:first-child {
    top: 0;
}
.menu-span:last-child {
    top: auto;
    bottom: 0;
}
.nav.active {
    left: 0;
}
.menu__icon.active span {
    transform: scale(0);
}
.menu__icon.active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
}
.menu__icon.active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
}

/*--------- main ----------*/

/*--------- о компании ----------*/

.about-company__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 267px;
    padding-bottom: 290px;
}
.about-company__info-text {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.company-name-text {
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}
.company-description-text {
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-size: 19px;
    max-width: 486px;
    line-height: 23px;
    text-align: justify;
}
.img-coatings {
    max-width: 462px;
}

/*--------- напыление ----------*/

.spraying-img {

}

/*--------- типы покрытий ----------*/

.types-coatings__items {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    padding-top: 187px;
    padding-bottom: 86px;
}
.coating__items {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}
.coatings-h2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 28px;
    text-align: center;
}
.types-coatings__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.coating-type-text {
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 14px;
    text-align: center;
}
.coating-img {
    max-width: 168px;
    max-height: 540px;
}

/*--------- оборудование для напыления ----------*/

/*.equipment {*/
/*    height: 882px;*/
/*    background-image: url("../img/background-block-plasmatron.png");*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/
.equipment__items {
    height: 882px;
    background-image: url("../img/background-block-plasmatron.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    display: flex;
    justify-content: center;
    padding-top: 57px;
}
.equipment__title {
    padding-top: 59px;
}
.equipment__img {
    padding-top: 38px;
    position: relative;
}
.plasmatron-info-button {
    position: absolute;
    width: 36px;
    height: 36px;
    background: #0E0D0D;
    border-radius: 8px;
    top: 56px;
    right: 20px;
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    transition: all .5s;
    cursor: url("../img/cursor.png") 4 1, default;

    text-align: center;
}
.plasmatron-info-button:hover {
    background: #956F29;
}
.plasmatron-back-button {
    background-image: url("../img/button-back.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    transition: all .5s;
    cursor: url("../img/cursor.png") 4 1, default;
}
.plasmatron-back-button:hover {
    background-image: url("../img/button-back-hover.png");
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
}
.equipment__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(225, 224, 223, 0.48);
    box-shadow: 10px 12px 15px #222222;
    backdrop-filter: blur(15px);
    width: 743px;
    height: 739px;
    border-radius: 27px;
}
.equipment-h2 {
    color: #0E0D0D;
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}
.plasmatron-type-info {
    color: #0E0D0D;
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    padding-top: 28px;
}
.plasmatron-price-info {
    color: #0E0D0D;
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 28px;
    padding-top: 3px;
}
.plasmatron-img {
    filter: drop-shadow(8px 10px 13px rgba(0, 0, 0, 0.29));
    border-radius: 22px;
}
.plasmatron__info-card {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    flex-direction: column;
    align-items: center;
    background: #0E0D0D;
    border-radius: 22px;
    width: 438px;
    height: 473px;
}
.card-h2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    padding-top: 74px;
}
.card__specifications {
    padding-top: 37px;
    padding-left: 30px;
    max-width: 336px;
    max-height: 270px;
}
.card-parameter {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
}
.card__button-back {
    position: absolute;
    top: 25px;
    left: 27px;
}

/*--------- расходные материалы ----------*/

.consumables {
    padding-top: 160px;
    padding-bottom: 190px;
}
.example1 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.example2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.consumables__items {
    display: flex;
    flex-direction: column;
    row-gap: 130px;
}
.consumables__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.consumables-h2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}
.consumable-1-img {
    box-shadow: 0 0 49px 10px rgba(225, 224, 223, 0.25);
    border-radius: 21px;
}
.consumable-2-img {
    box-shadow: 0 0 49px 10px rgba(225, 224, 223, 0.25);
    border-radius: 19px;
}
.consumables__item-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.consumable__item-1__text {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    padding-top: 48px;
}

/*--------- наши услуги ----------*/
.services {
    height: 997px;
    background-image: url("../img/background-block-services.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.services__items {
    padding-top: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 45px;
}
.services-list-ul {
    list-style: inherit;
}
li::marker {

    font-size: 10px;
}
.services-title {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}
.services-list {
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 22px;
    list-style: inherit;
}
.services__info-description {
    margin-left: 70px;
    max-width: 803px;
    max-height: 125px;
}

/*--------- преимущества ----------*/

.benefits__items {
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}
.benefits__row-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 22px;
}
.benefits-h2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 28px;
    text-align: center;
}
.benefits-text {
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 15px;
    text-align: center;
}
.benefits__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.benefits-img1 {
    max-width: 135px;
    max-height: 126px;
}
.benefits-img2 {
    max-width: 154px;
    max-height: 125px;
}
.benefits-img3 {
    max-width: 145px;
    max-height: 131px;
}
.benefits-img4 {
    max-width: 123px;
    max-height: 134px;
}
.benefits-text-detailed {
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 12px;
    text-align: center;
    text-decoration: underline;
    transition: all .5s;
    cursor: url("../img/cursor.png") 4 1, default;
}
.benefits-text-detailed:hover {
    color: #956F29;
    text-decoration: underline;
}
.benefits-card-text-p-1 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    padding-top: 41px;
}
.benefits-card-text-description-p-1 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    padding-top: 18px;
    width: 162px;
}
.benefits-card-text-p-2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    padding-top: 57px;
}
.benefits-card-text-description-p-2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    padding-top: 26px;
    width: 162px;
}
.benefits-card-text-p-3 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    padding-top: 49px;
}
.benefits-card-text-description-p-3 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    padding-top: 24px;
    width: 152px;
}
.benefits-card-text-p-4 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    padding-top: 49px;
}
.benefits-card-text-description-p-4 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    padding-top: 28px;
    width: 157px;
}
.benefits-card {
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #0E0D0D;
    width: 205px;
    height: 205px;
}
.benefits-back-button {
    position: absolute;
    top: 13px;
    left: 14px;
    background-image: url("../img/back-button.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
    transition: all .5s;
    cursor: url("../img/cursor.png") 4 1, default;
}
.benefits-back-button:hover {
    background-image: url("../img/back-button-hover.png");
    background-repeat: no-repeat;
    width: 11px;
    height: 11px;
}

/*--------- примеры работ ----------*/

.examples__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 46px;
    padding-top: 136px;
    padding-bottom: 90px;
}
.examples-h2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}
.carousel-cell {
    margin-right: 190px;
    overflow: hidden;
}
.carousel-cell img {
    display: block;
    height: 200px;
}
.main-carousel {
    display: flex;
    width: 1050px;
}
.main-carousel.flickity-enabled {
    display: block;
}
.flickity-prev-next-button {
    width: 64px;
    height: 81px;
    border-radius: 5px;
    background: none;
}
.flickity-prev-next-button:hover {
    cursor: url("../img/cursor.png") 4 1, default;
    background: none;
}
/* arrow color */
.flickity-prev-next-button .arrow {
    fill: #6D523D;
}
.flickity-prev-next-button.no-svg {
}
/* position outside */
.flickity-prev-next-button.previous {
    left: 230px;
}
.flickity-prev-next-button.next {
    right: 230px;
}

/*--------- расчет стоимости ----------*/

.cost-calculation {
    height: 1000px;
    background-image: url("../img/background-block-cost-calculation.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.cost-calculation__items {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    padding-top: 300px;
}
.cost-calculation__title {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.cost-calculation__calculator {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cost-calculation__firstColumn {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
}
.cost-calculation__secondColumn {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
}
.calculator__surfaceView {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.cost-calculation__radius {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.cost-calculation__thickness {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.cost-calculation__height {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.cost-calculation__length {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.cost-calculation__width {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.cost-calculation__complexity {
    display: flex;
    column-gap: 8px;
    align-items: baseline;
}
.total_estimate {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.cost-info {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding-top: 46px;
}
.cost-calculation-h2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}
.cost-calculation-h2-p {
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
.surfaceView-text {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.surfaceView-type-text {
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.surfaceView-form__circle {

}
.calculator__setting-text {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.calculator__input {
    color: rgba(14, 13, 13, 0.58);
    border-radius: 9px;
    background: #E1E0DF;
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    width: 400px;
    height: 35px;
    padding-left: 20px;
    color: #0E0D0D;
}
.calculator__input-complexity {
    color: rgba(14, 13, 13, 0.58);
    border-radius: 5px;
    background: #E1E0DF;
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    max-width: 68px;
    max-height: 30px;
}

.select-box {
    display: flex;
    flex-direction: column;
}

.select-box .options-container {
    background: #E1E0DF;
    color: rgba(14, 13, 13, 0.58);
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 5px;
    overflow: hidden;

    order: 1;
}

.selected {
    background: #E1E0DF;
    border-radius: 5px;
    margin-bottom: 5px;
    color: rgba(14, 13, 13, 0.58);
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    position: relative;
    padding-top: 7px;

    order: 0;
}

.selected::after {
    content: "";
    background: url("../img/arrow.svg") no-repeat;
    position: absolute;
    width: 16px;
    top: 12px;
    right: 10px;
    height: 9px;

    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: hidden;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
}

.select-box .option,
.selected {
    padding-top: 7px;
    padding-left: 14px;
    width: 68px;
    height: 30px;
    color: #0E0D0D;
    cursor: url("../img/cursor.png") 4 1, default;
}

.select-box .option:hover {
    color: #0E0D0D;
    background: rgba(14, 13, 13, 0.2);
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}
.cost-calculation__estimate {
    text-decoration: underline;
    text-align: center;
    padding-top: 52px;
}
.calculator-button {
    color: #E1E0DF;
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 22px;
    transition: all .5s;
    cursor: url("../img/cursor.png") 4 1, default;
    text-decoration: underline;
}
.calculator-button:hover {
    text-decoration: underline;
    cursor: url("../img/cursor.png") 4 1, default;
    color: #956F29;
}
#setting1 {
    display: none;
}
#setting2 {
    display: none;
}
#setting3 {
    display: none;
}
#setting4 {
    display: none;
}
.label-complexity {
    display: block;
    width: 100%;
}

/*--------- партнеры ----------*/

.partners__items {
    display: flex;
    flex-direction: column;
    row-gap: 86px;
    padding-top: 166px;
}
.partners-h2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}
.partners__row {
    display: flex;
    padding-left: 60px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.partners__row-uralmash {
    display: flex;
}
.partners-img-1 {
    max-width: 228px;
    max-height: 58px;
}
.partners-img-2 {
    max-width: 170px;
    max-height: 99px;
}
.partners-img-3 {
    max-width: 300px;
    max-height: 62px;
}

/*--------- наша команда ----------*/

.team__items {
    display: flex;
    flex-direction: column;
    row-gap: 58px;
    padding-top: 130px;
    padding-bottom: 130px;
}
.team-h2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}
.team__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.team__row-worker {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.worker-name-text {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    text-align: center;
    padding-top: 21px;
}
.worker-post-text {
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 3px;
}

/*--------- заявка для консультации ----------*/

.request__items {
    display: flex;
    justify-content: center;
}
.request__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/form-request.png");
    width: 1155px;
    height: 629px;
    border-radius: 44px;
}
.request-h2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    padding-top: 84px;
}
.request__name {
    width: 922px;
    height: 66px;
    background: rgba(225, 224, 223, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 21px;
    margin-top: 43px;
}
.request__phoneNumber {
    width: 922px;
    height: 66px;
    background: rgba(225, 224, 223, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 21px;
    margin-top: 39px;
}
.request__question {
    width: 922px;
    height: 118px;
    background: rgba(225, 224, 223, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 21px;
    margin-top: 44px;
}
.request__sending {
    padding-top: 44px;
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    cursor: url("../img/cursor.png") 4 1, default;
}
.request-sending-text {
    color: #E1E0DF;
    font-family: Disket-Mono-Regular, sans-serif;
    font-size: 25px;
    transition: all .5s;
    cursor: url("../img/cursor.png") 4 1, default;
    text-decoration: underline;
}
.request-sending-text:hover {
    color: #956F29;
    text-decoration: underline;
}
.request-input {
    overflow-y: hidden;
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #E1E0DF;
    padding-left: 29px;
    padding-top: 22px;
    padding-bottom: 21px;
    width: 900px;
    height: 60px;
}
.request-input-question {
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #E1E0DF;
    padding-left: 29px;
    padding-top: 17px;
    padding-bottom: 21px;
    width: 900px;
    height: 100px;
}
.request-input::placeholder {
    color: rgba(225, 224, 223, 0.68);
}
.request-input-question::placeholder {
    color: rgba(225, 224, 223, 0.68);
}
textarea {
    border-width: none;
    outline: none;
    resize: none;
}

/*-------- footer ---------*/

/*--------- контакты ----------*/

.footer {
    height: 600px;
    background-image: url("../img/background-block-footer.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}
.footer__items {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    padding-top: 106px;
}
.footer__main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.footer__info {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    max-width: 605px;
}
.footer__info-option {
    display: flex;
    flex-wrap: wrap;
}
.footer-h2 {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}
.footer-head {
    font-family: Disket-Mono-Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.footer-text {
    font-family: Museo-Sans-Cyrl, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    padding-left: 21px;
}
.map-frame {
    max-width: 100%;
    min-height: 100%;
    width: 567px;
    height: 296px;
}
@media screen and ( min-width: 768px ) {
    .carousel-cell img {
        height: 400px;
    }
}
@media (max-width: 1000px) {
    /* header */

    .menu__logo {
        display: block;
    }
    .menu__icon {
        display: block;
        position: absolute;
        right: 0;
    }
    .nav {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: #0E0D0D;
        display: flex;
        transition: all .2s;
        overflow: auto;
    }
    .nav-ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin: auto;
        text-decoration: underline;
    }
    .menu__logo {
        display: none;
    }
    .nav__link {
        display: block;
        font-size: 30px;
        line-height: 100px;
    }
    .nav__link::after {
        content: "";
        position: absolute;
    }
    .nav__link:hover::after {
        width: 0;
        left: 0;
    }


    /* main */

    /* о компании */

    .types-coatings__row {
        display: flex;
        column-gap: 200px;
        align-items: center;
        justify-content: space-between;
    }
    .coating__items {
        display: flex;
        align-items: revert;
    }
    .coating__items-text {
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
    }
}